.logo__icon {
    font-size: 1.6rem;
    font-family: 'Rock Salt', cursive;
    text-transform: uppercase;
    display: none;
}

@media screen and (min-width:768px){
    .logo__icon {
        position: absolute;
        display: block;
        transform: translateX(295px);
    }
}

@media screen and (min-width:1024px){
    .logo__icon {
        display: none;
    }
}