.bodyPeluquero{
    width: 100%;
    height: 100%;
    /*background: #eee;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.star{
    font-size: 20px;
    color: #bbb;
    transition: color 0.03s;
    cursor: pointer;
}

.star:hover,
.star.checked{
    color: gold;
}