.usuario__imagen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    margin-right: .5em;
    overflow: hidden;
}

.usuario__imagen-content {
    width: 100%;
    height: 100%;
}