/*****************************************VARIABLES CSS***************************************/
:root {
    --red: #FF0000;
    --dark-red: #bf0000;
    --soft-red: #e00000;
    --white: #FFFFFF;
    --gray-scale-n2: #EEEEEE;
    --gray-scale-n3: #DDDDDD;
    --gray-scale-n4: #AAAAAA;
    --gray-scale-n5: #555555;
    --rojo-cancelado: #cf4944;
    --verde-confirmado: #51bf8a;
    --amarillo-reservado: #ffdd33;
    --rojo-cancelado-hover: #e00000;
    --verde-confirmado-hover: #17fd8e;
}