/*****************************************VARIABLES CSS***************************************/
:root {
    --dark-red: #bf0000;
    --soft-red: #e00000;
    --gray-scale-n1: #FFFFFF;
    --gray-scale-n2: #EEEEEE;
    --gray-scale-n3: #DDDDDD;
    --gray-scale-n4: #AAAAAA;
    --gray-scale-n5: #555555;
}