/*****************************************GENERAL************************************************/

*  {
    box-sizing: border-box;
    font-size: 16px;
}


@media screen and (min-width: 1024px){
    * {
        font-size: 20px;
    }
}


html {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

body {
    position: relative; /*En relación a la ventana modal. ver modal.css*/
    background-color: var(--white);
}

body, main {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


h1 {
    font-size: 20px;
}

a {
    color: var(--soft-red);
    text-decoration: none;
}

ul {
    padding-left: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

p {
    margin-bottom: 0;
}

li {
    list-style: none;
}