.menuhamburguesa {
    position: absolute;
    left: 360px;
    top: 8px;
    display: block;
    background-color: var(--soft-red);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: .5rem;
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .menuhamburguesa {
        display: none;
    }
}



