.header-titulo {
    text-align: center;
    width: 100%;
    background-color: var(--soft-red);
    font-size: 1.6rem;
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
}