.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8em;
    background-color: var(--dark-red);
    color: var(--white);
    width: 350px;
    height: 100%;
    transform: translateX(-350px);
    z-index: 20;
}

.header--show {
    transform: translateX(0px);
    width: 100vw;
}

.header--show #toggle-menu {
    transform: translateX(-350px);
}

@media screen and (min-width: 768px){
    .header {
        transform: translateX(-300px);
    }
}

@media screen and (min-width: 1024px){
    .header {
        transform: translateX(0px);
    }
}
