.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.3rem;
    background-color: var(--gray-scale-n2);
    min-height: 100vh;
    gap: 0;
    margin-left: 0px;
    width: 100%;
}

@media screen and (min-width: 768px){
    .main {
        margin-left: 50px;
    }
}

@media screen and (min-width: 1024px){
    .main {
        margin-left: 350px;
    }
}