.main-header {
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 10;
    width: 100%;
    background-color: var(--gray-scale-n4);
    text-align: left;
    padding-left: 2em;
    padding-top: 1.3em;
    padding-bottom: .5em;
    height: 4.4rem;
}

@media screen and (min-width:768px){
    .main-header {
        left: 50px;
        width: calc(100% - 50px);
    }
}

@media screen and (min-width:1024px){
    .main-header {
        left: 300px;
        width: calc(100% - 300px);
    }
}