.menu__icon {
    margin-right: 20px;
}

.menu__icon--ver {
    transform: translateX(-7px);
}

@media screen and (min-width: 768px){
    .menu__icon {
        transform: translateX(235px);
    }
    .menu__icon--ver {
        transform: translateX(calc(235px - 7px));
    }
}

@media screen and (min-width: 1024px){
    .menu__icon {
        transform: translateX(0);
    }
    .menu__icon--ver {
        transform: translateX(calc(0px - 7px));
    }
}

